@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";

body {
  /* Gunakan bg-cover, bukan object-cover */
  @apply bg-cover bg-center bg-no-repeat min-h-screen;

  /* Pastikan nama file & ekstensinya sesuai (jpg vs jpeg) */
  background-image: url("/wallpaper2.jpg");
}

.abs-center {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

.font-georama {
  font-family: "Georama", sans-serif;
}
