@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

#main {
  /* Gunakan bg-cover, bukan object-cover */
  @apply bg-cover bg-center bg-no-repeat min-h-screen;
  background-image: url("/wallpaper2.jpg");
}

.no-drag {
  -webkit-user-drag: none; /* Buat browser berbasis Webkit (Chrome, Safari) */
  user-drag: none; /* Standar (meski supportnya belum rata) */
  user-select: none; /* Biar gambarnya gak bisa di-highlight biru */
  -webkit-user-select: none;
}

#login {
  /* Gunakan bg-cover, bukan object-cover */
  @apply bg-cover bg-center bg-no-repeat min-h-screen;
  background-image: url("/login.jpg");
}

.abs-center {
  @apply absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
}

* {
  cursor: url("https://www.macos-web.app/cursors/normal-select.svg"), auto;
  font-family: "Inter";
}
/* macOS-style scrollbar */
.macos-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.macos-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.macos-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.macos-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

/* Remove arrows */
.macos-scrollbar::-webkit-scrollb ar-button {
  display: none;
}

/* For Firefox */
.macos-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}
